.root {
  text-align: center;
}
.number_input {
  font-size: 1em;
  width: 5em;
  margin: 0.1em;
}
.flex-box{
  display: flex;
}
header{
  width: auto;
  margin: auto;
  text-align: center;
}
.inputContainerBox{
  width: 80%;
  display: flex;
}
thead th{
  padding: 1em;
}
table{
  text-align: center;
}